<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h1>
            Success Log In!!!
        </h1>
        <h3>redirecting...</h3>
        If you are not redirected automatically, <a href="<%= redirect %>">click here</a>.
    
        <script>
                    
            setTimeout(function(){
            
            window.location.replace(`/<%=redirect%>`);
            
        },800)

        </script>
    </body>
</html>